# loads index.cgi at root of site
RewriteEngine On
# If is not a file, load index.cgi
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.cgi/$1
# If is a hidden file, forbid access
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^\..+$ - [F,L]
